# LAYER_CONF_VERSION is increased each time build/conf/bblayers.conf
# changes incompatibly
LCONF_VERSION = "6"

BBPATH = "${TOPDIR}"
BBFILES ?= ""

BSPPATH := "${@os.path.abspath(os.path.dirname(d.getVar('FILE', True)) + '/../../..')}"

BBLAYERS ?= " \
  ${BSPPATH}/layers/poky/meta \
  ${BSPPATH}/layers/poky/meta-poky \
  ${BSPPATH}/layers/poky/meta-yocto-bsp \
  ${BSPPATH}/layers/meta-nexell/meta-nexell-distro \
  ${BSPPATH}/layers/meta-qt5 \
  ${BSPPATH}/layers/meta-openembedded/meta-multimedia \
  ${BSPPATH}/layers/meta-openembedded/meta-oe \
  ${BSPPATH}/layers/meta-openembedded/meta-python \
  ${BSPPATH}/layers/meta-openembedded/meta-networking \
  "

BBLAYERS_NON_REMOVABLE ?= " \
  ${BSPPATH}/poky/meta \
  ${BSPPATH}/poky/meta-poky \
  "
